From = From
To = To
Magnitude = Magnitude
Region = Country/Region
Search = Search
Update = Update
itemHasBeenFound = item has been found
itemsHaveBeenFound = items have been found
success = success
fail = failed
ID = ID
UTC_date = UTC Date
Latitude = Latitude
Longitude = Longitude
Depth = Depth (km)
Map = Map
ChartByMagnitude = Chart by Magnitude
ChartByDate = Chart by Date
Preferences = Preferences
Language = Language
DatabaseFile = Database File
UpdateURL = Update URL
Reset = Reset
Apply = Apply
Error = Error
DateFormatError = Date Format Error
FromDateCannotBeLaterThanToDate = From date cannot be later than to date.
