From = 从
To = 至
Magnitude = 震级
Region = 国家/地区
Search = 搜索
Update = 更新
itemHasBeenFound = 个搜索结果
itemsHaveBeenFound = 个搜索结果
update = 已更新
success = 成功
fail = 失败
ID = 编号
UTC_date = 标准时间
Latitude = 纬度
Longitude = 经度
Depth = 震源深度（千米）
Map = 地图
ChartByMagnitude = 震级柱状图
ChartByDate = 日期折线图
Preferences = 首选项
Language = 语言
DatabaseFile = 数据库文件
UpdateURL = 更新链接
Reset = 重置
Apply = 应用
Error = 错误
DateFormatError = 日期格式错误
FromDateCannotBeLaterThanToDate = 截止时间不得早于起始时间。
